@using RentMagicClient;
@model List<Customer>;

<h1>Exact Online Homepage</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Addressline</th>
        <th>Email</th>
        <th>Country</th>
        <th>StateName</th>
        <th>Language</th>
        <th>City</th>
        <th>Name</th>
        <th>Created</th>
        <th>Website</th>
        <th>Phone</th>
        <th>Postcode</th>
    </tr>
    @foreach(var customer in Model)
    {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.HouseNumber</td>
            <td>@customer.Email</td>
            <td>@customer.CountryID</td>
            <td>@customer.State</td>
            <td>@customer.LanguageID</td>
            <td>@customer.City</td>
            <td>@customer.CompanyName</td>
            <td>@customer.Tel</td>
            <td>@customer.ZipCode</td>
        </tr>
    }
</table>