@using RentMagicClient
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Customer

<h2>New Customer</h2>

<form asp-controller="Home" asp-action="SubmitForm" method="post">
    <label for="CompanyName">Compnay Name:</label><br>
    @Html.TextBoxFor(Model => Model.CompanyName)

    <label for="Email">Email: </label>
    @Html.TextBoxFor(Model => Model.Email)

    <label for="CountryID">Country ID: </label>
    @Html.TextBoxFor(Model => Model.CountryID)

    <label for="State">State: </label>
    @Html.TextBoxFor(Model => Model.State)

    <label for="LanguageID">LanguageID: </label>
    @Html.TextBoxFor(Model => Model.LanguageID)

    <label for="City">City: </label>
    @Html.TextBoxFor(Model => Model.City)

    <label for="HouseNumber">HouseNumber: </label>
    @Html.TextBoxFor(Model => Model.HouseNumber)

    <label for="Tel">Telephone: </label>
    @Html.TextBoxFor(Model => Model.Tel)

    <label for="ZipCode">Post Code: </label>
    @Html.TextBoxFor(Model => Model.ZipCode)

    <input type="submit" value="Add" />
</form>