@model List<Customer>;

@{
    ViewBag.Title = "Create | Unit4 Overzicht";
    Layout = "../_Layout.cshtml";
}


<h1>Unit4 Overzicht</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Email</th>
            <th>Country</th>
            <th>StateName</th>
            <th>Language</th>
            <th>City</th>
            <th>Addressline</th>
            <th>Phone</th>
            <th>Postcode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
                <td>@customer.FullName</td>
                <td>@customer.Email</td>
                <td>@customer.CountryID</td>
                <td>@customer.State</td>
                <td>@customer.LanguageID</td>
                <td>@customer.City</td>
                <td>@customer.HouseNumber</td>
                <td>@customer.Tel</td>
                <td>@customer.ZipCode</td>
            </tr>
        }
    </tbody>
</table>